[Unit]
Description=Unitime celery daemon
After=network.target

[Service]
User=deploy
Group=deploy
Restart=on-failure
RestartSec=5
WorkingDirectory=/srv/unitime/current
ExecStart=/srv/unitime/venv/bin/celery  -A settings worker -l info -B

[Install]
WantedBy=multi-user.target
